<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Art Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="testing.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container1">
    <div class="row1">
      <div class="menu-btn">
        <i class="fa fa-solid fa-bars"></i>
      </div>
      <nav class="navbar1">
        <div class="logo1">
  
          <a href=""><img src="https://www.myindianart.com/sitecontrol/images/logo.jpg"  style="width: 200px;padding-left: 10px;margin-bottom: 5px;" alt=""></a>
        </div>
        <ul class="main-menu">
          <li class="list-items"><a href="index1.html">Home</a></li>
          <li class="list-items"><a href="login_page.html">Login/Register</a></li>
          <li class="list-items"><a href="contact.html">About</a></li>
          <li class="list-items"><a href="contact.html">Contact</a></li>
          <li class="list-items"><a href="https://kannan-ramu.github.io/portfolio/">Our Team</a></li>
        </ul>
      </nav>
    </div>
    <div class="navbar2">
      <input type="text" style="margin-left: 4%;height: 3.5vh;width: 90%;margin-top: 4px;margin-bottom: 4px;" placeholder="Search By Artist, Ref No,Title....">
      <img src="https://firebasestorage.googleapis.com/v0/b/spice-f8d8a.appspot.com/o/magnifying-glass-solid.svg?alt=media&token=e8b8819d-749d-4938-986b-1125b3c85f51" style="width: 17px; position:relative;left:-30px;top:-2px">  
  </div>
  </div>
  <div class="smallbody">
        <div>
            <!-- <div class="navbar">
                <img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2821, 125, 210, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e" alt="" style="cursor:pointer">
                <img style="width: 20%;height: auto; padding-left: 5%;" src="https://www.myindianart.com/sitecontrol/images/logo.jpg" alt="">
                <i style="padding-left: 30%;"  class="fa fa-solid fa-user">  Log in  </i>
                <i class="fa fa-solid fa-user-plus">  Register  </i>
                <i class="fa fa-regular fa-heart">  WishList</i>
            </div> -->
          
        </div>
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="https://www.myindianart.com/uploads/banner/banner5.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://www.myindianart.com/uploads/banner/banner5.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://www.myindianart.com/uploads/banner/Brahmachari_Series3_WEB_BANNER.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://www.myindianart.com/uploads/banner/govar1.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://www.myindianart.com/uploads/banner/banner1.jpg" alt="Fifth slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

        </div>
        <div style="text-align: center;display:flex;flex-direction: column;">
          <span class="master" style="font-size: 30px;margin-top: 5%;"><h1> MASTER PIECE</h1></span>
            <div class="" style="overflow:hidden; margin-left: auto;margin-right: auto;position: relative;">
              <div class="masterpiece">
                <div class="container">
                    <div class="row">
                      <div class="col-xs-6 col-sm-4 jjj">
                        <div class="imgcontainer">
                          <img class="img-thumbnail jjj img-responsive " src="https://source.unsplash.com/1300x1200/?algeria">
                            <div class="bottom-center">Bottom Center</div>
                            </div>
                         
                      </div>
                      <div class="col-xs-6 col-sm-4 jjj">
                        <div class="imgcontainer">
                          <img class="img-thumbnail jjj img-responsive " src="https://source.unsplash.com/1300x1200/?algeria">
                            <div class="bottom-center">Bottom Center</div>
                            </div>
                        
                      </div>
                      <div class="col-xs-6 col-sm-4 jjj">
                        <div class="imgcontainer">
                          <img class="img-thumbnail jjj img-responsive " src="https://source.unsplash.com/1300x1200/?algeria">
                            <div class="bottom-center">Bottom Center</div>
                            </div>
                        
                      </div> 
                    </div>             
                </div> 
              </div>
            </div>
            <button type="button" style="width:fit-content;margin-left: auto;margin-right: auto;margin-top: 10px;" class="btn btn-primary"><a href="newtestindex.html">View All</a></button>
        </div>
        <div>
          <div class="content">
            <h1 class="title1">
              <span class="title-part line-1">New Arrivals</span>
            </h1>
          </div>
          <div class="suma">
            <div class="three-column-images1">
              <div class="row " style="background-color: deepskyblue;">   
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
                  <img src="http://placekitten.com/g/500/350"
                     class="img-thumbnail jjj img-responsive">
              </div> 
            </div>
          </div>
          <div style="text-align: center;margin: 5% 0;">
            <button id="slidelefticon" onclick="slideleft()" style="border: 1px solid #2d2d2d !important; width: 35px;height: 35px;margin-right: 2%;"><i  class="fa fa-solid fa-chevron-left"></i></button>
          
            <button id="sliderighticon" onclick="slideright()" style="border: 1px solid #2d2d2d !important; width: 35px;height: 35px;"><i  class="fa fa-solid fa-chevron-right"></i></button>
          
          </div>
          <div style="text-align:center ;">
              <button type="button" style="width:fit-content;margin-left: auto;margin-right: auto;margin-top: 23px; margin-bottom: 24px;"class="btn btn-primary"><a href="newtestindex.html">Explore</a></button>
          </div>
          
        </div>
        <div class="folkseries">
          <div style="width: 40%;flex: 0 0 42%;">
            <div style="vertical-align: middle;color: white;">            
              <h1>Folk Series by Arpita Basu</h1>
              Showcasing her rhythmic watercolour works deeply rooted in tradition, culture & social life of Bengal.<br>
              <button type="button" style="width:fit-content;margin-top: 20%;" class="btn btn-primary"><a href="newtestindex.html">Discover</a></button></div>


          </div>
          <div style="width:60%;display: flex;flex-direction: row;flex: 0 0 58%;padding: 2%;">
            <div>
              <img   src="flexpic (2).jpg" alt="">
            </div>
            <div style="display: flex;flex-direction:column ;">
              <div>
                <img style='height: 100%; width: 100%; object-fit: contain' src="flexpic (1).jpg" alt="">
              </div>
              <div>

             
            </div>
          </div>
          </div>
        </div>
        <div>
          <section class="three-column-images">
            <h1 style="text-align: center;color: white;margin-top:2%;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">Other ArtWorks</h1>
            <div class="container" >
              <div class="row">
                <div class="col-xs-6 col-sm-4 jjj">
                  <div class="imgcontainer">
                    <img class="img-thumbnail thumbnail1 jjj img-responsive " src="https://source.unsplash.com/1300x1200/?algeria">
                    <div class="bottom-center">Content</div>
                    </div>
                   
                </div>
             
                <div class="col-xs-6 col-sm-4 jjj">
                  <img src="http://placekitten.com/g/500/350"
                       class="img-thumbnail thumbnail1 jjj img-responsive">
                  <a href="#" target="_blank">Lorem Ipsum</a>
                  
                </div>
             
                <div class="col-xs-6 col-sm-4 jjj">
                  <div class="imgcontainer">
                  <img class="img-thumbnail thumbnail1 jjj img-responsive " src="https://source.unsplash.com/1300x1200/?algeria">
                    <div class="bottom-center">Bottom Center</div>
                    </div>
                  
                </div>
             
                
            
                <div class="col-xs-6 col-sm-4 jjj">
                  <img src="http://placekitten.com/g/500/350"
                       class="img-thumbnail thumbnail1 jjj img-responsive">
                  <a href="#" target="_blank">Lorem Ipsum</a>
                   
                </div>
             
                <div class="col-xs-6 col-sm-4  jjj">
                  <div class="imgcontainer">
                    <img class="img-thumbnail thumbnail1 jjj img-responsive " src="https://source.unsplash.com/1300x1200/?algeria">
                      <div class="bottom-center">Bottom Center</div>
                      </div>
                  
                </div>
             
                <div class="col-xs-6 col-sm-4 jjj">
                  <img src="http://placekitten.com/g/500/350" class="img-thumbnail thumbnail1 jjj img-responsive">
                  <a href="#" target="_blank">Lorem Ipsum</a>
                  
                </div>
             
                
              </div>             
            </div> 
          </section>
        </div>
  </div>
  <h2 style="text-align: center;">Our user reviews</h2>

    <section id="testimonials">
      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2>I am so impressed with the prompt, efficient very personalised services of KannanArtWorks, Bought a beautiful painting.
      </h2>
      <img class="testimonialimage" src="https://www.myindianart.com/sitecontrol/images/test-logo-img.png">
      <em>Tom</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Bought a lovely work from this site.The whole information was very professionally maintained.Will refer this site to my friends. </h2>
    <img class="testimonialimage" src="https://www.myindianart.com/sitecontrol/images/test-logo-img.png">
    <em>Hanks</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Great Site to buy Indian Art!!. Absolutely impressed by their suggestions,service .Will go for more works from here.CHeers!!!</h2>
    <img class="testimonialimage" src="https://www.myindianart.com/sitecontrol/images/test-logo-img.png">
    <em>Jacob</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Really appreciate the prompt support & service received for our artwork purchase from KannanArtWorks. Look forward to our association ahead !!</h2>
    <img class="testimonialimage" src="https://www.myindianart.com/sitecontrol/images/test-logo-img.png" >
    <em>Kannan</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Was searching Art for office & found KannanArtWorks. Site is well organized. Upon selection they responded promptly delivered the art on time.</h2>
    <img class="testimonialimage" src="https://www.myindianart.com/sitecontrol/images/test-logo-img.png" >
    <em>Albert</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">I contacted KannanArtWorks for an artist whose style liked. They promptly contacted me with more options to choose.</h2>
    <img class="testimonialimage" src="https://www.myindianart.com/sitecontrol/images/test-logo-img.png" >
    <em>John</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">I am so impressed with the prompt, efficient very personalised services of KannanArtWorks. </h2>
    <img class="testimonialimage" src="https://www.myindianart.com/sitecontrol/images/test-logo-img.png" >
    <em>Mark</em>
          </div>
          
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
        

      
    </section>
  <footer class="footer" style="margin-top: 10%;">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="contact.html">About</a></li>
      <li class="menu__item"><a class="menu__link" href="https://kannan-ramu.github.io/portfolio/">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="contact.html">Contact</a></li>

    </ul>
    <p>&copy;2022 Kannan Ramu | All Rights Reserved</p>
  </footer>
<script src="index.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>